*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    max-width: 100vw;

}
.navmain{
    display: flex;
    justify-content: space-between;
    
}
.home-main-sec-1{
    background: #995858;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main-sec-2{
    background: #bb1717;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main-sec-3{
    background: #0a3cdf;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main-sec-4{
    background: #1faa12;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-1-content-search>input{
    display: flex;
    width: 20vw;
    padding: 0.8em;
}
.sec-1-content-search{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
